.enlaces{

    float: right;

}

.titulo{

    color: black;

}

figure{

    margin: 0;
    display: inline-block;
    border: 1px solid red;
    position: relative;
}

figcaption{

    color: white;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 90%;
    padding: 5%;


}


figure:hover figcaption{

    display: block;


}

.tul{

    color: whitesmoke;
    text-align: center;

}

.titulosima{

    color: #ffa500;

}

.gmail{

    text-align: center;
    color: #800000;

}