*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

header{

    width: 100%;
    height: 60px;
    background: black;
    
}

.contriner-header{

    width: 100%;
    max-width: 1200px;

}


.logo-title{

    display: flex;

}

.logo-title img{

    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;

}

.logo-title h4{

    color: white;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 20px;

}


.icon-menu{

    position: absolute;
    right: 10px;
    top: 14px;
    color: white;
    font-size: 20px;

}


.enlaces{

    float: right;

}

.titulo{

    color: black;

}

figure{

    margin: 0;
    display: inline-block;
    border: 1px solid red;
    position: relative;
}

figcaption{

    color: white;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 90%;
    padding: 5%;


}


figure:hover figcaption{

    display: block;


}

.tul{

    color: whitesmoke;
    text-align: center;

}

.titulosima{

    color: #ffa500;

}

.gmail{

    text-align: center;
    color: #800000;

}


.pintar{

    text-align: center;
    color: white;

}